.selectedPage {
  color: red;
  font-weight: bold;
  border-color: white;
}

.paginator {
  margin: 10px;
}

.pageNumber {
  padding: 2px;
  border: 1px solid blue;
}

.paginatorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}