.userPhoto {
    width: 100px;
    height: 100px;
}


span {
    color: white;
}

.selectedPage {
    color: red;
    font-weight: bold;
}

.userItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}