.descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    color: white;
}
.ProfileStatusContainer {
    margin: 6px 2px ;
    text-align: center;
}

.contact {
    padding-left: 10px;
    border:1px solid white;
}
