.descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
}
.ProfileStatusContainer {
    margin: 6px 2px ;
    text-align: center;
}