.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  color: white;
}

.dialogsItems a {
  text-decoration: none;
  color: white;
}

.dialogsItems a.activeLink {
  color: #ffffff;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}

.messages {
  padding: 10px;
}

/* .messages div {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20%;
} */

.messages .message {
  color: white;
}

.dialog {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
}

.dialogsItems .dialog {
  border-radius: 50%;
}

.messages .dialog {
  color: white;
  padding: 15px;
  margin: 15px;
  border: 1px solid white;
  border-radius: 10%;
}

.containerHelperForTextArea {
  grid-column: 1/3;
}
